<h2><%= content.mailTitle%></h2>
<ul>
	<% for(var i=0; i<content.mails.length; i++) { %>
	<div>
		<a href="<%= content.mails[i]['link'] %>" target="_blank"><%= content.mails[i]['title'] %></a>
	</div>
	<% } %>
</ul>
