<%= header.date%>
<h2>
	<%= header.title%>
	&nbsp;(<a style="font-size: 14px; font-weight: normal" href="http://www.butsa.ru/xml/players/roster.php?id=<%= team['id'] %>"><%= team['name'] %></a>)
</h2>
